.invalid-feedback {
	font-size: 13px;
}

.select2-selection__rendered {
	line-height: 31px !important;
}

.select2-container .select2-selection--single {
	height: 40px !important;
	padding-top: 3px !important;
	border-color: rgba(161, 161, 161, .2);
}

.status {
	background-color: #f7ef02;
	padding: 3px 12px;
}

.statusBayar {
	background-color: #e82c17;
	color: white;
	padding: 3px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.box-container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	box-shadow: 0 5px 10px rgba(119, 108, 108, .1);
	padding: 30px 20px;
	box-sizing: border-box;
}
